<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Chicken Weather App</name>

  <description>
      A weather app for chicken and human.
  </description>

  <author href="https://ismailsunni.wordpress.com" email="imajimatika@gmail.com">
      Ismail Sunni
  </author>

    <plugin name="cordova-plugin-statusbar">

    <preference name="permissions" value="none">
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <!-- <access href="*" /> -->

</widget>